**/.project
*.a
*.cbp
*.dll*
*.dylib*
*.gch
*.idea
*.log
*.pc
*.so*
*.swo
*.swp
*.user
*~
.cmake/*
/*.sh
/CMakeDoxy*
/CPack*
/_CPack_Packages/
/build/
/cmake-build-*/
/install_manifest.txt
/libcaer.pc
/libcaerConfig*.cmake
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
core*
