/build/
CMakeCache.txt
CMakeFiles/
/CMakeDoxy*
/CPack*
/_CPack_Packages/
Makefile
cmake_install.cmake
/install_manifest.txt
/libcaer.pc
/libcaerConfig*.cmake
/*.sh
*~
*.swp
*.swo
*.gch
/*.rpm
/*.deb
*.user
/conanbuildinfo.cmake
/conanbuildinfo.txt
/conaninfo.txt
/graph_info.json
/conan_imports_manifest.txt
/licenses/
