repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.5.0
    hooks:
    -   id: check-merge-conflict
    -   id: check-xml
    -   id: check-yaml
    -   id: no-commit-to-branch
        args: ["--branch=master"]
    -   id: end-of-file-fixer
    -   id: trailing-whitespace

-   repo: git@gitlab.com:inivation/infra/pre-commit-hooks
    rev: master
    hooks:
    -   id: clang-format
