# All DVS/DAVIS/Dynap-SE systems
SUBSYSTEM=="usb", ATTR{idVendor}=="152a", ATTR{idProduct}=="84[0-1]?", TAG+="uaccess"
# eDVS 4337
SUBSYSTEM=="usb", ATTR{idVendor}=="0403", ATTR{idProduct}=="6014", TAG+="uaccess"
# Lattice Programmer cable
SUBSYSTEM=="usb", ATTR{idVendor}=="1134", ATTR{idProduct}=="8001", TAG+="uaccess"
# Blank FX2 devices
SUBSYSTEM=="usb", ATTR{idVendor}=="04b4", ATTR{idProduct}=="8613", TAG+="uaccess"
# Blank FX3 devices
SUBSYSTEM=="usb", ATTR{idVendor}=="04b4", ATTR{idProduct}=="0053", TAG+="uaccess"
SUBSYSTEM=="usb", ATTR{idVendor}=="04b4", ATTR{idProduct}=="00f3", TAG+="uaccess"
# Standard FX3 devices
SUBSYSTEM=="usb", ATTR{idVendor}=="04b4", ATTR{idProduct}=="00f1", TAG+="uaccess"
